body {
  background-color: lightgray;
}

h2 {
  margin-top: 0px;
}

.card {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 300px;
  border-radius: 5px;
  padding: 1.2rem;
  margin-bottom: 1rem;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}

.actions {
}

.btn {
  background-color: lightcoral;
  padding: 0.7rem 1rem;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 1.1rem;
  cursor: pointer;
  float: right;
}

.btn:hover {
  background-color: rgb(218, 92, 92);
  transition: 0.3s;
}
